<div class="alert alert-success my-2" role="alert">
    {{ createdSuccess }}{{ updatedSuccess }}

</div>
<form name="container-form" method="POST" action="/courses/handle-form-actions" class="mt-4">
    <div class="row">
        <h3 class="col-9">Khóa học của tôi</h3>
        <div class="col-3">
            <a href="/me/trash/courses" class="btn btn-info">
                <span><i class="fa fa-trash" aria-hidden="true"></i> Khóa học đã xóa <span
                        class="badge badge-center rounded-pill badge-danger">{{ deletedCount }}</span></span>
            </a>
        </div>
    </div>
    <div class="d-flex m-3 align-items-center">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
        </div>
        <div class="form-group">
            <select class="form-control form-control-sm mt-3 select-all-checkbox" name="action" id="action-select">
                <option value=""><--Hành động--></option>
                <option value="delete">Xóa</option>
            </select>
        </div>
        <button class="btn btn-danger btn-sm btn-check-submit" disabled>Thực hiện</button>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>
                    Tên khóa học
                    {{{ sortable "name" _sort}}}
                </th>
                <th>Mô tả{{{ sortable "description" _sort}}}</th>
                <th style="width: 200px;">
                    Thời gian tạo
                    {{{ sortable "createdAt" _sort}}}
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{_id}}">
                    </div>
                </td>
                <td>{{sum @index 1}}</td>
                <td>{{name}}</td>
                <td>{{description}}</td>
                {{#if createdAt}}
                <td>{{convertDatetimeToDate createdAt}}</td>
                {{else}}
                <td></td>
                {{/if}}
                <td>
                    <a href="/courses/{{_id}}/edit" class="btn btn-info">Sửa</a>
                </td>
                <td>
                    <a href="" class="btn btn-danger" data-id="{{_id}}" data-toggle="modal"
                        data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    <h4>Bạn chưa đăng khóa học nào.</h4>
                    <a href="/courses/create" class="btn btn-info">Đăng khóa học</a>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</form>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa khóa học không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-course">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var btnDeleteCourse = document.getElementById('delete-course');
        var deleteCourseForm = document.forms['delete-course-form'];
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-submit');
        var containerForm = document.forms['container-form'];
        var actionSelect = $('#action-select');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
        })

        btnDeleteCourse.onclick = function () {
            deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteCourseForm.submit();
        }

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length > 0;
            var selectAction = $('#action-select').val() != '';
            if (checkedCount && selectAction) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }

        // Checkbox all changed
        checkboxAll.change(function () {
            var isCheckAll = $(this).prop("checked");
            courseItemCheckbox.prop("checked", isCheckAll);
            renderCheckAllSubmitBtn();
        })

        // Course item checkbox changed
        courseItemCheckbox.change(function () {
            var isCheckAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckAll);
            renderCheckAllSubmitBtn();
        })

        // Change Action Submit
        actionSelect.change(function () {
            renderCheckAllSubmitBtn();
        })

        // Check all submit button click
        checkAllSubmitBtn.click(function (e) {
            containerForm.submit();
        })
    })
</script>